/**
about page scss 작업 
작업자: 신유미 
2022.02.03 ~
*/

.about {
  .sectionCont {
    // organization css
    #organization {
      width: 100%;
      //height: calc(100vh - 80px);
      .inner {
        .aboutSectionTitle {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          padding-bottom: 30px;
          span {
            font-family: $koFont;
            font-size: 16px;
            color: $textColor;
          }
        }
        .aboutSectionCont {
          width: 100%;
          .organizationWarp {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .organizationList {
              position: relative;
              width: calc(100% / 3);
              height: 500px;
              padding: 30px;
              border: 1px solid $borderColor;
              border-bottom: none;
              margin-left: -1px;
              .organizationBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                .organizationTitle {
                  @include sectionSubTitle($subFz: 18px, $subLetterS: 3px);
                  text-transform: uppercase;
                  margin-bottom: 10px;
                }
                .organizationImg {
                  width: 100%;
                  height: 80%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 10px;
                  img {
                    width: 60%;
                    height: 60%;
                    object-fit: cover;
                    filter: grayscale(0.7);
                    transition: 0.5s;
                  }
                  &:hover {
                    img {
                      filter: grayscale(0.4);
                      transform: scale(1.1);
                    }
                  }
                }
                .organizationJob {
                  position: relative;
                  @include sectionText($captionFz: 16px);
                  &::after {
                    content: "";
                    display: block;
                    clear: both;
                  }
                  span {
                    float: right;
                  }
                }
              }
              &:nth-of-type(1) .organizationBox .organizationImg {
                background: rgba(161, 154, 151, 0.6);
              }
              &:nth-of-type(2) .organizationBox .organizationImg {
                background: rgba(164, 161, 152, 0.6);
              }
              &:nth-of-type(3) .organizationBox .organizationImg {
                background: rgba(160, 161, 151, 0.6);
              }
              &:nth-of-type(4) .organizationBox .organizationImg {
                background: hsl(160, 5%, 64%, 0.6);
              }
              &:nth-of-type(5) .organizationBox .organizationImg {
                background: hsl(207, 6%, 61%, 0.6);
              }

              &::after {
                position: absolute;
                bottom: 0;
                left: 10%;
                content: "";
                width: 80%;
                height: 1px;
                background: $borderColor;
              }
              &:nth-last-child(-n + 3) {
                border-top: none;
              }
              &:nth-of-type(1),
              &:nth-of-type(4) {
                border-left: none;
              }
              &:nth-of-type(3),
              &:nth-of-type(6) {
                border-right: none;
              }
              &.intro {
                .organizationBox {
                  position: relative;
                  .organizationTitle {
                    @include sectionTitle($fz: 40px, $fontWeight: bold);
                    margin-bottom: 40px;
                  }
                  .organizationSub {
                    @include sectionSubTitle($subFz: 24px, $fontWeight: 400);
                  }
                  .organizationCaption {
                    @include sectionText;
                  }
                }
              }
            }
          }
        }
      }
    }
    #location {
      padding-left: 50px;
      margin-right: -30px;
      #map {
        width: 100%;
        height: 400px;
        border: 1px solid $borderColor;
        border-right: 0;
        filter: sepia(20%) grayscale(50%);
      }
      .mapTxt {
        width: 60%;
        margin-top: 20px;
        p {
          @include sectionText;
        }
      }
      .mapBtn {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
        .mapBtnTitle {
          width: 20%;
          @include sectionText($captionFz: 16px, $captionFontColor: $textColor);
        }
        .mapBtnLists {
          width: 80%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding-right: 50px;
          .mapBtnList {
            width: 49%;
            margin-right: 2%;
            padding: 20px 0;
            border-top: 2px solid $hoverColor;
            margin-bottom: 10px;
            .listBox {
              .listTitle {
                @include sectionText(
                  $captionFz: 14px,
                  $captionFontColor: $textColor
                );
                margin-bottom: 30px;
              }
              .traffic {
                display: flex;
                align-items: center;
                .trafficList {
                  position: relative;
                  transition: 0.5s;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: $borderColor;
                    transition: 0.5s;
                  }
                  a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include sectionText(
                      $captionFz: 12px,
                      $captionFontColor: $textColor
                    );
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                  &.on {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                }
                .trafficList + .trafficList {
                  margin-left: 20px;
                }
              }
              .roadView {
                display: flex;
                align-items: center;
                .roadViewList {
                  position: relative;
                  transition: 0.5s;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: $borderColor;
                    transition: 0.5s;
                  }
                  a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include sectionText(
                      $captionFz: 12px,
                      $captionFontColor: $textColor
                    );
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                  &.on {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                }
                .roadViewList + .roadViewList {
                  margin-left: 20px;
                }
              }
              .favLocation {
                display: flex;
                align-items: center;
                .locaList {
                  position: relative;
                  transition: 0.5s;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: $borderColor;
                    transition: 0.5s;
                  }
                  a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include sectionText(
                      $captionFz: 12px,
                      $captionFontColor: $textColor
                    );
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                  &.on {
                    &::after {
                      width: 100%;
                      background-color: $hoverColor;
                    }
                    a {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                }
                .locaList + .locaList {
                  margin-left: 20px;
                }
              }
            }
            &:nth-of-type(even) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

//$Ltablet: 1024px;
@media screen and (max-width: $sLaptop) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #location {
                .mapBtn {
                  .mapBtnLists {
                    .mapBtnList {
                      &:nth-of-type(3) {
                        width: 100%;
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$Ltablet: 992px;
@media screen and (max-width: $Ltablet) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        width: 50%;

                        &:nth-last-child(-n + 4) {
                          border-top: none;
                        }
                        &:nth-of-type(1),
                        &:nth-of-type(4) {
                          border-left: 1px solid $borderColor;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(6) {
                          border-left: 1px solid $borderColor;
                        }
                        &:nth-of-type(odd) {
                          border-left: none;
                        }
                        &:nth-of-type(even) {
                          border-right: none;
                        }
                      }
                    }
                  }
                }
              }
              #location {
                #map {
                }
                .mapTxt {
                  width: 60%;
                  margin-top: 20px;
                  p {
                    @include sectionText;
                  }
                }
                .mapBtn {
                  display: flex;
                  align-items: flex-start;
                  margin-top: 30px;
                  .mapBtnTitle {
                  }
                  .mapBtnLists {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-right: 50px;
                    .mapBtnList {
                      &:nth-of-type(3) {
                        width: 100%;
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$tablet : 778px;
@media screen and (max-width: $tablet) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        height: 400px;
                        &.intro {
                          .organizationBox {
                            .organizationTitle {
                              @include sectionTitle(
                                $fz: 30px,
                                $fontWeight: bold
                              );
                              margin-bottom: 30px;
                            }
                            .organizationSub {
                              @include sectionSubTitle(
                                $subFz: 20px,
                                $fontWeight: 400
                              );
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              #location {
                padding-left: 0;
                margin-left: -30px;
                margin-right: -30px;
                #map {
                  width: 100%;
                  height: 300px;
                  border-left: 0;
                }
                .mapTxt {
                  padding-left: 30px;
                  width: 60%;
                  margin-top: 20px;
                  p {
                    @include sectionText;
                  }
                }
                .mapBtn {
                  padding-left: 30px;
                  .mapBtnLists {
                    padding-right: 30px;
                    .mapBtnList {
                      width: 100%;
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$mobile : 576px;
@media screen and (max-width: $mobile) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        width: 100%;
                        height: 500px;
                        border-left: none;
                        border-right: none;
                        padding: 20px;
                        //margin-top: -1px;
                        margin-left: 0;
                        &::after {
                          display: none;
                        }
                        &.intro {
                          .organizationBox {
                            .organizationTitle {
                              @include sectionTitle(
                                $fz: 40px,
                                $fontWeight: bold
                              );
                              margin-bottom: 30px;
                            }
                            .organizationSub {
                              @include sectionSubTitle(
                                $subFz: 24px,
                                $fontWeight: 400
                              );
                            }
                            .organizationCaption {
                              @include sectionText($captionFz: 16px);
                            }
                          }
                        }
                        &:nth-last-child(-n + 4) {
                          border-top: 1px solid $borderColor;
                        }
                        &:nth-of-type(4) {
                          border-left: none;
                        }
                        &:nth-of-type(6) {
                          border-left: none;
                          border-bottom: 1px solid $borderColor;
                        }
                      }
                    }
                  }
                }
              }
              #location {
                .mapBtn {
                  flex-direction: column;
                  .mapBtnTitle {
                    width: 100%;
                    margin-bottom: 20px;
                  }
                  .mapBtnLists {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$mobile : 425px;
@media screen and (max-width: $sMobile) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        height: 400px;
                      }
                    }
                  }
                }
              }
              #location {
                .mapBtn {
                  .mapBtnLists {
                    .mapBtnList {
                      .listBox {
                        .favLocation {
                          flex-wrap: wrap;
                          .locaList {
                            margin-bottom: 10px;
                          }
                          .locaList + .locaList {
                            margin-left: 20px;
                          }
                          .locaList:last-child {
                            margin-left: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
