/**
about page scss 작업 
작업자: 신유미 
2022.02.03 ~
*/

.about {
  .sectionCont {
    // project css
    #project {
      .inner {
        padding-left: 100px;
        .projectWrap {
          .projectLists {
            border-top: 1px solid $borderColor;
            .projectList {
              border-bottom: 1px solid $borderColor;
              .projectBox {
                position: relative;
                width: 100%;
                height: 500px;
                display: flex;
                padding: 30px 0 30px 30px;
                .projectNum {
                  position: absolute;
                  top: 50%;
                  left: 150px;
                  z-index: 4;
                  transform: translateY(-50%);
                  @include sectionTitle($fontColor: $borderColor);
                }
                .projectExp {
                  width: 20%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-between;
                  .projectTitle {
                    @include sectionSubTitle(
                      $subFz: 24px,
                      $subLetterS: 1px,
                      $subFontColor: $borderColor
                    );
                    text-transform: uppercase;
                  }
                  .projectDate {
                    position: relative;
                    @include sectionSubTitle(
                      $subFz: 20px,
                      $fontWeight: 300,
                      $subFontColor: $hoverColor
                    );
                    span {
                      position: absolute;
                      top: 10px;
                      left: 60px;
                      display: inline-block;
                      font-size: 18px;
                    }
                  }
                }
                .projectImg {
                  width: 60%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0.9);
                  }
                }
                .projectBtn {
                  width: 20%;
                  height: 100%;
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;
                  .projectLink {
                    display: inline-block;
                    color: $borderColor;
                    font-size: 14px;
                    .btnLine {
                      position: relative;
                      display: inline-block;
                      width: 20px;
                      &::before {
                        position: absolute;
                        top: 5px;
                        margin-top: -50%;
                        width: 100%;
                        height: 1px;
                        background: $borderColor;
                        content: "";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // organization css
    #organization {
      width: 100%;
      //height: calc(100vh - 80px);
      .inner {
        .aboutSectionTitle {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          padding-bottom: 30px;
          span {
            font-family: $koFont;
            font-size: 16px;
            color: $textColor;
          }
        }
        .aboutSectionCont {
          width: 100%;
          .organizationWarp {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .organizationList {
              position: relative;
              width: calc(100% / 3);
              height: 500px;
              padding: 30px;
              border: 1px solid $borderColor;
              border-bottom: none;
              margin-left: -1px;
              .organizationBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                .organizationTitle {
                  @include sectionSubTitle($subFz: 18px, $subLetterS: 3px);
                  text-transform: uppercase;
                  margin-bottom: 10px;
                }
                .organizationImg {
                  width: 100%;
                  height: 80%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 10px;
                  img {
                    width: 60%;
                    height: 60%;
                    object-fit: cover;
                    filter: grayscale(0.7);
                    transition: 0.5s;
                  }
                  &:hover {
                    img {
                      filter: grayscale(0.4);
                      transform: scale(1.1);
                    }
                  }
                }
                .organizationJob {
                  position: relative;
                  @include sectionText($captionFz: 16px);
                  &::after {
                    content: "";
                    display: block;
                    clear: both;
                  }
                  span {
                    float: right;
                  }
                }
              }
              &:nth-of-type(1) .organizationBox .organizationImg {
                background: rgba(161, 154, 151, 0.6);
              }
              &:nth-of-type(2) .organizationBox .organizationImg {
                background: rgba(164, 161, 152, 0.6);
              }
              &:nth-of-type(3) .organizationBox .organizationImg {
                background: rgba(160, 161, 151, 0.6);
              }
              &:nth-of-type(4) .organizationBox .organizationImg {
                background: hsl(160, 5%, 64%, 0.6);
              }
              &:nth-of-type(5) .organizationBox .organizationImg {
                background: hsl(207, 6%, 61%, 0.6);
              }

              &::after {
                position: absolute;
                bottom: 0;
                left: 10%;
                content: "";
                width: 80%;
                height: 1px;
                background: $borderColor;
              }
              &:nth-last-child(-n + 3) {
                border-top: none;
              }
              &:nth-of-type(1),
              &:nth-of-type(4) {
                border-left: none;
              }
              &:nth-of-type(3),
              &:nth-of-type(6) {
                border-right: none;
              }
              &.intro {
                .organizationBox {
                  position: relative;
                  .organizationTitle {
                    @include sectionTitle($fz: 40px, $fontWeight: bold);
                    margin-bottom: 40px;
                  }
                  .organizationSub {
                    @include sectionSubTitle($subFz: 24px, $fontWeight: 400);
                  }
                  .organizationCaption {
                    @include sectionText;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sLaptop) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              // project css
              #project {
                .inner {
                  .projectWrap {
                    .projectLists {
                      .projectList {
                        .projectBox {
                          height: 400px;
                          .projectNum {
                            @include sectionTitle(
                              $fz: 40px,
                              $fontColor: $btnColor
                            );
                          }
                          .projectExp {
                            width: 20%;
                          }
                          .projectImg {
                            width: 60%;
                            height: 100%;
                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              filter: grayscale(0.9);
                            }
                          }
                          .projectBtn {
                            width: 20%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//$Ltablet: 992px;
@media screen and (max-width: $Ltablet) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              // project css
              #project {
                .inner {
                  .projectWrap {
                    .projectLists {
                      .projectList {
                        .projectBox {
                          height: 300px;
                          .projectNum {
                            position: absolute;
                            top: 50%;
                            left: 100px;
                            z-index: 4;
                            transform: translateY(-50%);
                            @include sectionTitle(
                              $fz: 40px,
                              $fontColor: $borderColor
                            );
                          }
                          .projectExp {
                            width: 20%;
                            .projectTitle {
                              @include sectionSubTitle(
                                $subFz: 20px,
                                $subLetterS: 1px,
                                $subFontColor: $borderColor
                              );
                            }
                            .projectDate {
                              @include sectionSubTitle(
                                $subFz: 16px,
                                $fontWeight: 300,
                                $subFontColor: $hoverColor
                              );
                            }
                          }
                          .projectImg {
                            width: 60%;
                            height: 100%;
                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              filter: grayscale(0.9);
                            }
                          }
                          .projectBtn {
                            width: 20%;

                            .projectLink {
                              .btnLine {
                                width: 10px;
                                &::before {
                                  top: 0;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        width: 50%;
                        &:nth-last-child(-n + 4) {
                          border-top: none;
                        }
                        &:nth-of-type(1),
                        &:nth-of-type(4) {
                          border-left: 1px solid $borderColor;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(6) {
                          border-left: 1px solid $borderColor;
                        }
                        &:nth-of-type(odd) {
                          border-left: none;
                        }
                        &:nth-of-type(even) {
                          border-right: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$tablet : 778px;
@media screen and (max-width: $tablet) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              // project css
              #project {
                .inner {
                  padding-left: 0;
                  .projectWrap {
                    .projectLists {
                      .projectList {
                        .projectBox {
                          padding: 30px 0;
                          flex-direction: column;
                          height: 500px;
                          .projectNum {
                            left: 50%;
                            transform: translate(-50%, -50%);
                          }
                          .projectExp {
                            width: 100%;
                            flex-direction: row;
                            .projectDate {
                              span {
                                position: inherit;
                                top: auto;
                                left: auto;
                              }
                            }
                          }
                          .projectImg {
                            width: 100%;
                            height: 80%;
                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              filter: grayscale(0.9);
                            }
                          }
                          .projectBtn {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        &.intro {
                          .organizationBox {
                            .organizationTitle {
                              @include sectionTitle(
                                $fz: 30px,
                                $fontWeight: bold
                              );
                              margin-bottom: 30px;
                            }
                            .organizationSub {
                              @include sectionSubTitle(
                                $subFz: 20px,
                                $fontWeight: 400
                              );
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//$mobile : 576px;
@media screen and (max-width: $mobile) {
  .about {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              // project css
              #project {
                .inner {
                  padding-left: 0;
                  .projectWrap {
                    .projectLists {
                      .projectList {
                        .projectBox {
                          padding: 20px 0;
                          flex-direction: column;
                          height: 300px;
                          .projectExp {
                            width: 100%;
                            flex-direction: row;
                            .projectTitle {
                              @include sectionSubTitle(
                                $subFz: 16px,
                                $subLetterS: 1px,
                                $subFontColor: $borderColor
                              );
                            }
                            .projectDate {
                              @include sectionSubTitle(
                                $subFz: 14px,
                                $fontWeight: 300,
                                $subFontColor: $hoverColor
                              );
                            }
                          }
                          .projectImg {
                            width: 100%;
                            height: 80%;
                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              filter: grayscale(0.9);
                            }
                          }
                          .projectBtn {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
              #organization {
                > .inner {
                  .aboutSectionCont {
                    .organizationWarp {
                      .organizationList {
                        width: 100%;
                        height: 400px;
                        border-left: none;
                        border-right: none;
                        padding: 20px;
                        //margin-top: -1px;
                        margin-left: 0;
                        &::after {
                          display: none;
                        }
                        &.intro {
                          .organizationBox {
                            .organizationTitle {
                              @include sectionTitle(
                                $fz: 40px,
                                $fontWeight: bold
                              );
                              margin-bottom: 30px;
                            }
                            .organizationSub {
                              @include sectionSubTitle(
                                $subFz: 24px,
                                $fontWeight: 400
                              );
                            }
                            .organizationCaption {
                              @include sectionText($captionFz: 16px);
                            }
                          }
                        }
                        &:nth-last-child(-n + 4) {
                          border-top: 1px solid $borderColor;
                        }
                        &:nth-of-type(4) {
                          border-left: none;
                        }
                        &:nth-of-type(6) {
                          border-left: none;
                          border-bottom: 1px solid $borderColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
