/**
board scss 작업 
작업자: 신유미 
2022.01.29 ~
*/

.board {
  .wrap {
    .subContents {
      .subSection {
        .inner {
          .sectionCont {
            table {
              width: 100%;
              margin-bottom: 50px;
              tr {
                
                border-top: 3px solid $textColor;
                border-bottom: 3px solid $textColor;
                &:hover {
                  background: $hoverColor;
                }
                td {
                  padding: 20px 0;
                  text-align: center;
                  font-size: 30px;
                  color: $textColor;
                  &:nth-of-type(2) {
                    padding-left: 10px;
                    text-align: left;
                  }
                  &:nth-of-type(3) {
                    font-family: "맑은 고딕";
                  }
                  a {
                    color: #333;
                    line-height: 1.4;
                  }
                }
              }
            }
            .pagination {
              width: 100%;
              text-align: center;
              &::after {
                content: '';
                display: block;
                clear: both;
              }
              .prev {
                float: left;
                display: block;
                width: 30px;
                height: 30px;
                background: #555;
                color: #eee;
                font-size: 20px;
                text-align: center;
              }
              .next {
                float: right;
                display: block;
                width: 30px;
                height: 30px;
                background: #555;
                color: #eee;
                font-size: 20px;
                text-align: center;
              }
              .numbers {
                display: inline-block;
                text-align: center;
        
                a {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  border: 1px solid #888;
                  font: 11px/30px 'arial';
                  color: #666;
                  margin: 0 5px;
                  transition: 0.5s;
                  &:hover {
                    background: #666;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 
반응형 
$sLaptop : 1024px;
$tablet : 778px;
$mobile : 576px;
*/

@media screen and (max-width: $sLaptop) {
  #board {
    .wrap {
      padding-top: 60px;
      #header {
        height: 60px;
        line-height: 60px;
        .inner {
          width: 100%;
          .logo {
            .headerLogo {
              a {
                font-size: 26px;
              }
            }
          }
          #menuPC {
            .menuWrap {
              .menuList {
                .menuLink {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  #board {
    .wrap {
      padding-top: 60px;
      #header {
        height: 60px;
        line-height: 60px;
        .inner {
          width: 100%;
          .logo {
            .headerLogo {
              a {
                font-size: 26px;
              }
            }
          }
          #menuPC {
            display: none;
          }
          .hamMenu {
            display: block;
          }
          #menuMo {
            display: block;
          }
        }
      }
      .subContents {
        padding: 0 30px;
        border: 1px solid $borderColor;
        border-top: none;
        .subHeader {
          position: relative;
          padding: 40px 50px 0 0;
          &::after {
            content: "";
            display: block;
            clear: both;
          }
          .subHeaderTitle {
            @include sectionTitle($fz: 30px);
          }
          .subHeaderMenu {
            padding-top: 40px;
            float: right;
            ul {
              display: flex;
              align-items: center;
              li {
                a {
                  @include sectionText(
                    $captionFz: 16px,
                    $captionFontColor: #333
                  );
                  border-bottom: 1px solid #777;
                }
              }
              li + li {
                padding-left: 100px;
              }
            }
          }
        }
        .boardSection {
          padding: 50px 0;
          .sectionExp {
            padding-bottom: 0;
            .expTitle {
              @include sectionSubTitle(
                $subFz: 14px,
                $subFontColor: #333,
                $fontWeight: 400
              );
              padding-bottom: 10px;
            }
            .expCaption {
              @include sectionText($captionFz: 12px);
            }
          }
          .sectionAccodion {
            .tab {
              label {
                h2 {
                  font-size: 16px;
                }
                h3 {
                  font-size: 16px;
                }
                .boardListInfo {
                  display: none;
                }
              }
            }
          }
        }
      }

      #footer {
        .inner {
          .footerTop {
            padding: 20px 50px 20px 20px;
            .footerLogo {
              .logo {
                .logoText {
                  .logoTitle {
                    @include sectionTitle($fz: 24px);
                  }
                  .logoSub {
                    font-size: 10px;
                  }
                }
              }
            }
            .footerContTitle {
              font-size: 14px;
            }
            .footerEmail {
              margin-right: 50px;
              .emailText {
                font-size: 12px;
                margin-bottom: 10px;
              }
              .emailSendBox {
                .emailForm {
                  .emailInput {
                    width: 150px;
                  }
                  .emailBtn {
                    width: 50px;
                    height: 20px;

                    .emalBtnText {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
            .footerSns {
              .snsWrap {
                .snsList {
                  .snsLink {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .footerBottom {
            .footerLink {
              font-size: 12px;
            }
            .contactEmail {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  #board {
    .wrap {
      #header {
        .inner {
          .logo {
            .headerLogo {
              a {
                font-size: 20px;
              }
            }
          }
        }
      }

      #footer {
        .inner {
          .footerTop {
            flex-direction: column;
            align-items: flex-start;
            .footerLogo {
              margin-bottom: 30px;
            }
            .footerContTitle {
              font-size: 12px;
            }
            .footerContent {
              flex-direction: column;
            }
            .footerEmail {
              margin-right: 0;
              margin-bottom: 12px;
              .emailText {
                font-size: 10px;
                margin-bottom: 10px;
              }
              .emailSendBox {
                .emailForm {
                  .emailInput {
                    width: 150px;
                  }
                  .emailBtn {
                    width: 50px;
                    height: 20px;

                    .emalBtnText {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
            .footerSns {
              .snsWrap {
                display: flex;
                align-items: center;
                .snsList {
                  padding-bottom: 0;
                  padding-right: 5px;
                  .snsLink {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .footerBottom {
            .footerLink {
              font-size: 12px;
            }
            .contactEmail {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
