.gallery {
  .wrap {
    .subContents {
      padding: 0;
      .subHeader {
        padding: 0 30px;
      }
      .subSection {
        padding: 80px 0;
        .inner {
          .sectionExp {
            padding: 0 30px 60px 30px;
          }
          .sectionCont {
            //youtube scss
            #youtube {
              padding: 0 20px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              opacity: 0;
              transform: translateY(100px);
              transition: 1s;
              &.on {
                opacity: 1;
                transform: translateY(0);
              }
              .youtubeCont {
                width: 49.5%;
                padding: 20px;
                border: 1px solid $borderColor;
                margin-right: 1%;
                margin-top: 1%;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
                .pic {
                  width: 100%;
                  display: block;
                  margin-bottom: 20px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(0.8);
                  }
                }
                .con {
                  > h2 {
                    @include sectionText(
                      $captionFz: 18px,
                      $captionFontColor: $textColor
                    );
                    margin-bottom: 8px;
                  }

                  > span {
                    @include sectionText(
                      $captionFz: 16px,
                      $captionFontColor: $hoverColor
                    );
                  }
                }
                &:nth-of-type(-n + 2) {
                  margin-top: 0;
                }
                &:nth-of-type(even) {
                  margin-right: 0;
                }
              }
            }

            #flickr {
              .wrap {
                width: 100%;
                padding: 0 20px;
                #list {
                  width: 100%;
                  opacity: 0;
                  transform: translateY(100px);
                  transition: 1s;
                  &.on {
                    opacity: 1;
                    transform: translateY(0);
                  }
                  &::after {
                    content: "";
                    display: block;
                    clear: both;
                  }
                  li {
                    width: calc(100% / 2);
                    float: left;
                    padding: 5px;

                    div {
                      width: 100%;
                      padding: 20px;
                      border: 1px solid $borderColor;
                      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
                      a {
                        img {
                          width: 100%;
                          filter: grayscale(100%);
                        }
                      }
                      p {
                        font: 12px/1.2;
                        color: $textColor;
                        margin-top: 10px;
                        margin-bottom: 20px;
                      }
                      &:hover {
                        a {
                          > img {
                            filter: grayscale(0%);
                          }
                        }
                      }
                    }
                    &:nth-of-type(3n) {
                      border-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
figure.pop {
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  overflow: hidden;
  .btnClose {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: $sLaptop) {
  .gallery {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
              #youtube {
                .youtubeCont {
                  .con {
                    > h2 {
                      @include sectionText(
                        $captionFz: 16px,
                        $captionFontColor: $textColor
                      );
                      margin-bottom: 8px;
                    }

                    > span {
                      @include sectionText(
                        $captionFz: 14px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  .gallery {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionCont {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .gallery {
    .wrap {
      .subContents {
        .subSection {
          .inner {
            .sectionExp {
              padding: 0 30px 30px 30px;
            }
            .sectionCont {
              #youtube {
                flex-direction: column;
                .youtubeCont {
                  width: 100%;
                  margin-right: 0;
                  .pic {
                    margin-bottom: 10px;
                  }
                  &:nth-of-type(n + 2) {
                    margin-top: 1%;
                  }
                  .con {
                    > h2 {
                      @include sectionText(
                        $captionFz: 14px,
                        $captionFontColor: $textColor
                      );
                      margin-bottom: 8px;
                    }

                    > span {
                      @include sectionText(
                        $captionFz: 12px,
                        $captionFontColor: $hoverColor
                      );
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
